<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../.tpl/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../.tpl/css/style.css" type="text/css">    
    <title>TerraRossi - Туры</title>
    <script type="text/javascript" src="../../.tpl/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../.tpl/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->    
    <link rel="stylesheet" href="style.css" type="text/css">
    <script type="text/javascript" src="script.js"></script>
</head>

<body>
    <div class="mainWidth">
        <header class="header">
            <div class="logo fleft">
                <a href="/"><img src="../../.tpl/images/logo.png" alt="TerraRossi"></a>
            </div>
            <div class="contacts fright">
                8 (812) 408-7878<br>
                8 (800) 111-2222
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".top-menu">
                <span class="sr-only">Меню</span>
            </button>            
            <div class="top-menu collapse" role="navigation">
                <ul>
                    <li class="first"><a href="/">Главная</a></li>
                    <li><a href="#">Поиск тура</a></li>
                    <li><a href="#">Виды отдыха</a></li>
                    <li><a href="#">Горящие туры</a></li>
                    <li><a href="#">Отели</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты </a></li>
                </ul>                
            </div>            
            <div class="clear"></div>
        </header>
    </div>
    <div class="content">
        <div class="mainWidth">
            <div class="contentBody">
            <!-- begin:tour-->
                <div class="tour_aviabar">
                    <div class="tour_title grayBlock"><strong>Тур №2240</strong> СПБ_"Все краски Греции" Салоники+Корфу +Салоники_2013_с обяз._n</div>
                    <div class="sm-table-show">
                        <aside class="leftSide col-sm-6 sm-table-cell grayBlock">
                            <dl>
                                <dt>Вылет из:</dt>
                                <dd>Санкт-Петербург</dd>
                                <dt>Курорт:</dt>
                                <dd>Греция Греция, о. Корфу</dd>
                                <dt>Длительность:</dt>
                                <dd>10 ночей</dd>
                                <dt>Даты тура:</dt>
                                <dd>с 19 августа 2013  по 29 августа 2013</dd>
                                <dt>Отель:</dt>
                                <dd><a href="#">Evi</a>, Apts</dd>
                                <dt>Размещение:</dt>
                                <dd>2Ad</dd>
                                <dt>Питание:</dt>
                                <dd>Bed and Breakfast</dd>
                                <dt>Номер:</dt>
                                <dd>Studio</dd> 
                            </dl>
                            <p>В стоимость тура включено: перелёт,трансфер, проживание, питание, услуги гида, медицинская страховка, страхование ответственности туроператора</p>
                        </aside>
                        <div class="col-center sm-table-cell"></div>
                        <aside class="rightSide col-sm-6 sm-table-cell grayBlock v-middle">
                            <div class="xs-table-show center">
                                <div class="whiteBlock col-xs-6 tour_info xs-table-cell">
                                    <div class="dottedBot">Найден 05/08 (14:00) <a data-content="Текст всплывающей подсказки" data-placement="top" data-toggle="popover" data-container="body" class="popOver">( ? )</a></div>
                                    Итоговая цена:
                                    <div class="price">27 482 RUB</div>
                                    ≈ 13 741 RUB за человека
                                </div>
                                <div class="col-center xs-table-cell"></div>
                                <div class="whiteBlock col-xs-6 aviability xs-table-cell f-min">
                                    <div class="vertLine xs-table-cell">
                                        <i class="room"></i><br>
                                        места<br>в отеле<br>
                                        <button class="green button">Есть</button><br>
                                    </div>
                                    <div class="vertLine xs-table-cell">
                                        <i class="fly-forward"></i><br>
                                        перелет<br>туда<br>
                                        <button class="green button">Есть</button><br>
                                        Виз: нет
                                    </div>
                                    <div class="vertLine xs-table-cell">
                                        <i class="fly-back"></i><br>
                                        перелет<br>обратно<br>
                                        <button class="red button">Нет</button><br>
                                        Виз: нет
                                    </div>                                    
                                </div>
                                <div class="clear"></div>
                                <div class="bottomText">                                
                                    <span class="f-min">топл. сбор - нет сбора <a data-content="Текст всплывающей подсказки" data-placement="top" data-toggle="popover" data-container="body" class="popOver">( ? )</a><br> 
                                    виз. сбор <a data-content="Текст всплывающей подсказки" data-placement="top" data-toggle="popover" data-container="body" class="popOver">( ? )</a></span>
                                </div>
                            </div>                         
                        </aside>
                    </div>
                </div>
            <!-- end:tour-->
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <footer class="footer">
        <div class="top">
            <div class="mainWidth">
                <div class="inside">
                    <nav class="bottom-menu">
                        <ul>
                            <li><a href="#">Горящие туры</a></li>
                            <li><a href="#">Спец. туры</a></li>
                            <li><a href="#">Страны</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                    <div class="logo fleft">
                        <a href="/" class="fleft"><img src="../../.tpl/images/logo-min.png" alt=""></a>
                        <div class="text">
                            &copy; 2012-2013 Все права защищены<br>
                            Туристическая поисковая система
                        </div>
                    </div>
                    <div class="contacts fright">
                        Контакты
                        <span>8 (812) 408-7878</span>
                    </div>
                    <div class="clear"></div>
                </div>                
            </div>            
        </div>
        <div class="bottom"></div>
    </footer>      
</body>

</html>
