<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../.tpl/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../.tpl/css/style.css" type="text/css">    
    <title>TerraRossi - Туры</title>
    <script type="text/javascript" src="../../.tpl/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../.tpl/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->    
    <link rel="stylesheet" href="style.css" type="text/css">
    <script type="text/javascript" src="script.js"></script>
</head>

<body>
    <div class="mainWidth">
        <header class="header">
            <div class="logo fleft">
                <a href="/"><img src="../../.tpl/images/logo.png" alt="TerraRossi"></a>
            </div>
            <div class="contacts fright">
                8 (812) 408-7878<br>
                8 (800) 111-2222
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".top-menu">
                <span class="sr-only">Меню</span>
            </button>            
            <div class="top-menu collapse" role="navigation">
                <ul>
                    <li class="first"><a href="/">Главная</a></li>
                    <li><a href="#">Поиск тура</a></li>
                    <li><a href="#">Виды отдыха</a></li>
                    <li><a href="#">Горящие туры</a></li>
                    <li><a href="#">Отели</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты </a></li>
                </ul>                
            </div>            
            <div class="clear"></div>
        </header>
    </div>
    <div class="content">
        <div class="mainWidth">
            <div class="contentBody">
            <!-- Выше ничего менять нельзя-->
            <!-- begin:hotel-->
            
                HOTEL HTML
            
            <!-- end:hotel-->
            <!-- Ниже ничего менять нельзя-->
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <footer class="footer">
        <div class="top">
            <div class="mainWidth">
                <div class="inside">
                    <nav class="bottom-menu">
                        <ul>
                            <li><a href="#">Горящие туры</a></li>
                            <li><a href="#">Спец. туры</a></li>
                            <li><a href="#">Страны</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                    <div class="logo fleft">
                        <a href="/" class="fleft"><img src="../../.tpl/images/logo-min.png" alt=""></a>
                        <div class="text">
                            &copy; 2012-2013 Все права защищены<br>
                            Туристическая поисковая система
                        </div>
                    </div>
                    <div class="contacts fright">
                        Контакты
                        <span>8 (812) 408-7878</span>
                    </div>
                    <div class="clear"></div>
                </div>                
            </div>            
        </div>
        <div class="bottom"></div>
    </footer>      
</body>

</html>
